body{
    background-color: rgb(0, 0, 0);
    z-index: 100;
}

/* navbar */
.bordercustom{
border-bottom: 3px solid white;
height: 15vh;
}
/* fine navbar */
/* header  */

.bgmoon{
height: 120vh;
background: url(media/moon.jpg);
background-repeat: no-repeat;
background-size: cover;
background-position: center;
background-attachment: fixed;

}


h1{
    color: white;
    font-size: 55px;
   
}

.textcustom1{

margin-top: 400px;    

}
.arrowposition{

margin-top: 300px;

}
.arrowdown{
    display: block;
    margin: 0px auto;
    
}
/* fine header  */
/* inizio main  */
/* section countdown  */
.sizecustom{
    height: 30vh;
    background: black;
    /* border-top: 1px solid rgb(0, 110, 255); */
    color: white;
    margin-top: 30vh;
    width: 100%;
    
}

.countdownsize{
    font-size: 80px;


}

.bordercountdown{
    border: 2px solid rgb(0, 110, 255);
    width: 17vw;
}